:root {
    --main-color: #E91E63;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Josefin Sans',
        sans-serif;
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

@media(max-widtH:575px) {
    .container {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.landing-page {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.732);
    position: relative;
}

.landing-page .slide {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    opacity: 0;
    /* font-size: 0; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.5s ease;
}

.landing-page #slide-1 {
    background-image: url("../img/slider/slide1.jpg");
    background-size: cover;
}

.landing-page #slide-2 {
    background-image: url("../img/slider/slide2.jpg");
    background-size: cover;
}

.landing-page #slide-3 {
    background-image: url("../img/slider/slide3.jpg");
    background-size: cover;
}

.landing-page .slide.active {
    opacity: 1;
    z-index: 0;
    /* font-size: 16px; */
    width: 100%;
}

.landing-page .slide .container {
    overflow: hidden;
}

.landing-page .slide p {
    transform: translateY(700%);
    margin: 0;
    transition: 1.3s;

}

.landing-page .slide h2 {
    transform: translateY(700%);
    letter-spacing: 1px;
    margin: 7px 0 17px;
    transition: 1.3s;
}

.showToTop {
    transform: translateY(0) !important;
}

.showToCenter {
    transform: translateX(0) !important;
}

.landing-page .slide .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.landing-page .slide .card .sub1 {
    transform: translateX(-130%);
    transition: 1s;
}

.landing-page .slide .card .sub2 {
    transform: translateX(130%);
    transition: 1s;
}

.landing-page #slide-2 .button,
.landing-page #slide-3 .button {
    transform: translateY(700%);
    transition: 1s;
}

.landing-page .slide .button {
    display: inline-block;
    width: fit-content;
    padding: 12px 22px;
    border: 1px solid #fff;
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.landing-page .slide .sub1 {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.landing-page .slide .sub1:hover {
    background-color: #F50057;
}

.landing-page .slide .sub2:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media(max-width:575px) {
    .landing-page .slide p {
        font-size: 11px;
    }

    .landing-page .slide h2 {
        font-size: 15px;
        letter-spacing: 0.3px;
        margin: 5px 0 11px;
    }

    .landing-page .slide .button {
        padding: 8px;
        font-size: 13px;
    }
}

.landing-page .header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    /* top: 5px; */
    z-index: 9999;
    transition: 0.3s;
}

.landing-page .header.scrolling {
    background-color: white;
}

.landing-page .header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-page .header .container .logo img {
    width: 133px;
    object-fit: cover;
}

.landing-page .header .container .toggle-menu {
    display: none;
    width: 30px;
    cursor: pointer;
}

.landing-page .header .container .toggle-menu span {
    display: block;
    height: 3px;
    background-color: var(--main-color);
    margin-bottom: 5px;
}

.landing-page .header .container ul {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.landing-page .header .container ul li {
    margin-left: 13px;
}

.landing-page .header .container ul li a {
    position: relative;
    color: white;
    transition: 0.3s;
}

.landing-page .header.scrolling .container ul li a {
    color: #212121;
}

.landing-page .header .container ul li a.active,
.landing-page .header .container ul li a:hover {
    color: var(--main-color);
}

.landing-page .header .container ul li a::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -10px);
    background-color: var(--main-color);
    transition: 0.5s;
}

.landing-page .header .container ul li a.active::before {
    opacity: 1;
}

@media (max-width:991px) {
    .landing-page .header .container ul {
        /* transform: translateY(-150%); */
        /* opacity: 0; */
        max-height: 0;
        overflow: hidden;
    }

    .landing-page .header .container ul.showMenu {
        /* transform: translateY(0%); */
        /* opacity: 1; */
        max-height: 350px;
    }

    .landing-page .header .container .toggle-menu {
        display: inline-block;
    }

    .landing-page .header .container ul {
        position: absolute;
        left: 0;
        top: 35px;
        width: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        background-color: white;
        border-radius: 5px;
    }

    .landing-page .header .container ul li {
        margin: 0;
        width: 100%;
    }

    .landing-page .header .container ul li a {
        display: block;
        width: 100%;
        padding: 10px 12px;
        color: #666;
        font-size: 15px;
    }

    .landing-page .header .container ul li a.active {
        color: #666
    }

    .landing-page .header .container ul li a:hover {
        background-color: #f5f5f5;
        color: var(--main-color);
    }

    .landing-page .header .container ul li a.active::before {
        display: none;
    }
}

.landing-page .arr-right,
.landing-page .arr-left {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 16px;
    border: 1px solid #f5f5f5;
    font-size: 11.9px;
    cursor: pointer;
    transition: 0.3s;
}

.landing-page .arr-left {
    left: 7px;
    /* opacity: 1; */
}


.landing-page .arr-right {
    right: 7px;
}

.landing-page .showArr {
    transition: 0.5s;
    opacity: 0;
}

.landing-page .arr-left:hover,
.landing-page .arr-right:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media(max-width:575px) {

    .landing-page .arr-left,
    .landing-page .arr-right {
        padding: 6px 10px;
        font-size: 7px;
    }

    .landing-page .arr-left {
        left: 3px;
    }

    .landing-page .arr-right {
        right: 3px;
    }
}

.landing-page .bullets {
    position: absolute;
    width: 100%;
    bottom: 13px;
    text-align: center;
    z-index: 10;
}

.landing-page .bullets span {
    display: inline-block;
    margin-left: 7px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: 0.3s;
}

.landing-page .bullets span.active {
    background-color: white;
}

@media(max-width:575px) {
    .landing-page .bullets span {
        width: 13px;
        height: 13px;
    }
}

.timer {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: white;
}

.timer h2 {
    text-align: center;
    letter-spacing: 1.7px;
    margin: 0;
    margin-bottom: 37px;
}

.timer .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 37px;
}

.timer .content .card {
    flex-basis: 19%;
    box-shadow: 1px 10px 20px rgb(0 0 0 / 20%);
    padding: 25px 0;
    text-align: center;
    font-weight: bold;
}

.timer .content .card span {
    display: block;
    letter-spacing: 1.7px;
}

.timer .content .card span:first-child {
    font-size: 31px;
}

.timer .content .card span:last-child {
    margin-top: 7px;
}

@media(max-width:767px) {
    .timer h2 {
        letter-spacing: 0.1px;
        font-size: 21px;
    }

    .timer .content .card {
        flex-basis: 39%;
    }

    .timer .content .card span {
        letter-spacing: 0.1px;
    }

    .timer .content .card span:first-child {
        font-size: 25px;
    }
}

.services {
    padding-top: 75px;
    padding-bottom: 75px;
}

.theTitle,
.theDescription {
    position: relative;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    letter-spacing: 1.7px;
}

.theTitle::after,
.theDescription::before {
    position: absolute;
    content: "";
    width: 39px;
    height: 1.9px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
}

.theTitle::after {
    bottom: -10px;
    left: 47%;
}

.theDescription {
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 37px;
}

.theDescription::before {
    top: -10px;
    left: 53%;
}

@media(max-width:575px) {

    .theDescription,
    .theTitle {
        letter-spacing: 0;
    }

    .theTitle {
        font-size: 23px;
    }

    .theDescription {
        font-size: 11.7px;
    }
}

.services .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #666; */
    /* gap: 2px 0; */
}

@media(max-width:991px) {
    .services .content {
        gap: 1px 0;
    }
}

.services .content .contentBox {
    flex-basis: 33.2%;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
}

.services .content .contentBox:nth-child(1) {
    border-left: none;
}

.services .content .contentBox:nth-child(4) {
    border-left: none;
    border-bottom: none;
}

.services .content .contentBox:nth-child(5) {
    border-bottom: none;
}

.services .content .contentBox:nth-child(6) {
    border-bottom: none;
}

.services .content .box {
    text-align: center;
    padding: 31px 7px;
    transition: 0.3s;
}

@media(max-width:767px) {
    .services .content {
        gap: 0;
    }

    .services .content .contentBox {
        flex-basis: 49.9%;
    }

    .services .content .contentBox:nth-child(4) {
        border-left: 1px solid #555;
        border-bottom: 1px solid #555;
    }

    .services .content .contentBox:nth-child(3),
    .services .content .contentBox:nth-child(5) {
        border-left: none;
    }



}

@media(max-width:575px) {
    .services .content {
        gap: 1px 0;
    }

    .services .content .contentBox {
        flex-basis: 100%;
        border-left: none !important;
        border-bottom: 1px solid #555 !important;
    }
}

.services .container .box:hover {
    background-color: #f3f3f3;
}

.services .container .box .icon {
    transition: 0.3s;
    color: #212121;
    opacity: 0.89;
}

.services .container .box:hover .icon {
    color: var(--main-color);
}

.services .container .box h3 {
    color: #212121;
    margin: 10px 0;
    /* font-weight: 500; */
}

.services .container .box p {
    color: #212121;
    margin: 0;
    line-height: 1.3;
    font-weight: 400;
}

.about {
    padding-top: 75px;
    padding-bottom: 75px;
}

.about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about .content .card {
    flex-basis: 30%;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 17%);
    transition: 0.7s;
}

.about .content .card:hover {
    box-shadow: 1px 3px 15px rgb(0 0 0 / 31%);
}

.about .content .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.about .content .card h3 {
    margin: 13px 0;
}

.about .content .card p {
    margin: 0;
    color: #212121;
    line-height: 1.5;
}

.about .content .card span {
    display: block;
    width: fit-content;
    margin: 17px 0 0 0;
    padding: 10px 16px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.about .content .card span:hover {
    background-color: #ff025a;
}

@media(max-width:991px) {
    .about .content {
        justify-content: center;
        gap: 35px;
    }

    .about .content .card {
        flex-basis: 47%;
    }
}

@media(max-width:767px) {
    .about .content {
       gap: 30px;
/*           grid-gap: 30px 15px; */
    }

    .about .content .card {
        flex-basis: 48%;
        text-align: center;
        margin-bottom:30px;
    }

    .about .content .card span {
        margin: 17px auto 0;
        ;
    }
}

@media(max-width:575px) {
    .about .content .card {
        flex-basis: 100%;

    }

}

.counter-section {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: var(--main-color);
    color: white;
}

.counter-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.counter-section .container .box {
    flex-basis: 25%;
    text-align: center;
}

.counter-section .container .box h3 {
    font-size: 16px;
    margin: 17px 0 7px;
}

.counter-section .container .box p {
    margin: 0;
    font-size: 13px;
}

@media(max-width:991px) {
    .counter-section .container {
        gap: 37px 0;
    }

    .counter-section .container .box {
        flex-basis: 50%;
    }
}

@media(max-width:575px) {
    .counter-section .container {
        gap: 31px 0;
    }

    .counter-section .container .box {
        flex-basis: 100%;
    }
}

.schedules {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #f3f4f3;
}

.schedules .content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 37px;

}

.schedules .content .left-sec {
    flex-basis: 25%;
    align-self: stretch;
}

.schedules .left-sec .card {
    border-bottom: 1px solid rgb(0 0 0 / 31%);
    background-color: white;
    padding: 15px;
    /* text-align: center; */
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.schedules .left-sec .card:hover,
.schedules .left-sec .card.active {
    background-color: var(--main-color);
    border-bottom-color: var(--main-color);
}

.schedules .left-sec .card span:first-child {
    display: block;
    color: var(--main-color);
    margin-bottom: 5.9px;
    font-weight: bold;
    letter-spacing: 1.1px;
}

.schedules .left-sec .card:hover span,
.schedules .left-sec .card.active span {
    color: #f3f3f3;
}

.schedules .content .right-sec {
    flex: 1;
}

.schedules .right-sec .card .card1 {
    border-bottom: 1px solid rgb(0 0 0 / 31%);
    background-color: white;
    padding: 15px;
    cursor: pointer;
    transition: 0.39s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.schedules .right-sec .card .card1:hover {
    background-color: #f3f3f3;
    border-bottom-color: #777;
}

.schedules .right-sec .card .card1 .image {
    margin-right: 17px;
}

.schedules .right-sec .card .card1 .image img {
    width: 75px;
    border-radius: 50%;
    object-fit: contain;
}

.schedules .right-sec .card .card1 .info {
    flex: 1;
}

.schedules .right-sec .card .card1 .info .time,
.schedules .right-sec .card .card1 .info .name {
    font-size: 13px;
    color: #777;
    margin: 0;
}

.schedules .right-sec .card .card1 .info h3 {
    color: #212121;
    margin: 7px 0 13px 0;
}

.schedules .right-sec .card .card2 {
    border-bottom: 1px solid rgb(0 0 0 / 31%);
    background-color: #f3f4f3;
    padding: 0px;
    max-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.59s;
}

.schedules .right-sec .card .card2.showCard2 {
    max-height: 155px;
}

.schedules .right-sec .card .card2 .emptyDiv {
    max-width: 93px;
    width: 100%;
    /* flex-basis: 13%; */
}

.schedules .right-sec .card .card2 .location {
    flex: 1;
    padding: 15px 0;
}

.schedules .right-sec .card .card2 .location p {
    color: #212121;
    margin: 0;
    margin-bottom: 11px;
}

.schedules .right-sec .card .card2 .location span {
    font-size: 15px;
}

.schedules .right-sec .card .card2 .location span:nth-child(2) {
    color: var(--main-color);
}

.schedules .right-sec .card .card2 .location span:last-child {
    color: #777;
}

@media(max-width:991px) {
    .schedules .content {
        gap: 25px;
    }

    .schedules .left-sec .card {
        padding: 11px;
    }

    .schedules .left-sec .card span {
        font-size: 15px;
    }

    .schedules .right-sec .card .card1 .info h3 {
        font-size: 17px;
        margin: 5px 0 11px 0;
    }

    .schedules .right-sec .card .card1 .info .time,
    .schedules .right-sec .card .card1 .info .name {
        font-size: 11.5px;
    }
}

@media(max-width:767px) {
    .schedules .content {
        flex-direction: column;
    }

    .schedules .content .left-sec {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 11px;
    }

    .schedules .left-sec .card {
        flex-basis: 21.7%;
    }
}

@media(max-width:575px) {
    .schedules .content .left-sec {
        gap: 13px 0;
    }

    .schedules .left-sec .card {
        flex-basis: 47.9%;
        text-align: center;
    }

    .schedules .left-sec .card span {
        font-size: 13px;
    }

    .schedules .left-sec .card span:first-child {
        margin-bottom: .9px;
    }

    .schedules .right-sec .card .card1 {
        padding: 15px 10px;
    }

    .schedules .right-sec .card .card1 .image {
        margin-right: 11.7px;
    }

    .schedules .right-sec .card .card1 .image img {
        width: 55px;
    }

    .schedules .right-sec .card .card1 .info h3 {
        font-size: 13px;
        margin: 5px 0 7px 0;
    }

    .schedules .right-sec .card .card2 .emptyDiv {
        display: none;
    }

    .schedules .right-sec .card .card2 .location {
        padding: 15px 10px;
        font-size: 13px;
        text-align: center;
    }

    .schedules .right-sec .card .card2 .location span {
        font-size: 11.5px;
    }
}

.speakers {
    padding-top: 75px;
    padding-bottom: 75px;
}

.speakers .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 0;
}

.speakers .content .box {
    position: relative;
    padding: 12px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 31%);
    flex-basis: 31%;
    cursor: pointer;
    transition: 0.37s;
}

.speakers .content .box:hover {
    box-shadow: 3px 9px 15px rgba(0, 0, 0, 0.199);
}

.speakers .content .box .image {
    position: relative;
    overflow: hidden;
}

.speakers .content .box .image::after {
    position: absolute;
    content: "";
    width: 100%;
    opacity: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 71%);
    transition: 0.3s;
}

.speakers .content .box:hover .image::after {
    opacity: 1;
}

.speakers .content .box .image img {
    width: 100%;
    object-fit: cover;
}

.speakers .content .box .image .social {
    position: absolute;
    z-index: 1;
    right: 7px;
    top: -37px;
    transition: 0.37s;
}

.speakers .content .box:hover .image .social {
    top: 7px;
}

.speakers .content .box .image .social ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.speakers .content .box .image .social ul li {
    margin-left: 17px;
    width: 31px;
    height: 31px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: #f3f4f3;
    cursor: pointer;
    transition: 0.3s;
}

.speakers .content .box .image .social ul li:hover {
    background-color: #f3f4f3;
    color: var(--main-color);
}

.speakers .content .box .image .social ul li i {
    font-size: 15px;
}

.speakers .content .box .image .info {
    position: absolute;
    z-index: 1;
    width: 75%;
    border-top-right-radius: 5px;
    background-color: var(--main-color);
    left: 0;
    bottom: -77px;
    padding: 10px 0 10px 10px;
    background-color: #f3f4f3;
    transition: 0.3s;
}

.speakers .content .box .image .info:hover {
    cursor: auto;
}

.speakers .content .box:hover .info {
    bottom: 0px;
}

.speakers .content .box .image .info .name {
    display: block;
    width: fit-content;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1.9px;
    color: #212121;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.3s;
}

.speakers .content .box .image .info .name:hover {
    color: var(--main-color);
}

.speakers .content .box .image .info span:last-child {
    font-size: 13.3px;
    color: #777;
}

@media(max-width:991px) {
    .speakers .content .box .image .info {
        padding: 10px 0 10px 8px;
        width: 85%;
    }

    .speakers .content .box .image .info .name {
        font-size: 13.3px;
        margin-bottom: -1.9px;
    }

    .speakers .content .box .image .info span:last-child {
        font-size: 11px;
    }
}

@media(max-width:767px) {
    .speakers .content .box {
        flex-basis: 47%;
    }
}

@media(max-width:575px) {
    .speakers .content {
        gap: 30px 0;
        justify-content: center;
    }

    .speakers .content .box {
        flex-basis: 77%;
    }

    .speakers .content .box .image .social {
        right: 3px;
    }

    .speakers .content .box .image .social ul li {
        margin-left: 11px;
        width: 27px;
        height: 27px;
    }

    .speakers .content .box .image .social ul li i {
        font-size: 11px;
    }

    .speakers .content .box .image .info {
        padding: 6px 0 6px 5px;
        width: 87%;
    }

    .speakers .content .box .image .info .name {
        font-size: 11px;
    }

    .speakers .content .box .image .info span:last-child {
        font-size: 9.7px;
    }

}

.gallery {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #f3f3f3;
}

.displayPhoto {
    position: fixed;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #000000cc;
    z-index: 11;
}

.displayPhoto img {
    width: 100%;
}

.gallery .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 0;
}

.gallery .content .card {
    flex-basis: 31%;
    position: relative;
    max-height: 193px;
    overflow: hidden;
}

@media(max-width:1199px) {
    .gallery .content .card {
        /* max-height: 161.9px; */
    }
}

@media(max-width:991px) {
    .gallery .content .card {
        /* max-height: 119.9px; */
    }
}

@media(max-width:767px) {
    .gallery .content .card {
        /* max-height: 135.9px; */
        flex-basis: 47%;
    }
}

.gallery .content .card::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(233, 30, 99, 0.7);
    transition: 0.3s;
}

.gallery .content .card:hover:after {
    opacity: 1;
}

.gallery .content .card img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.gallery .content .card .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 2;
    cursor: pointer;
}

.gallery .content .card:hover .icon {
    opacity: 1;
}

.gallery .content .card .icon i {
    color: var(--main-color);
    font-size: 42.5px;
}

@media(max-width:575px) {
    .gallery .content {
        gap: 30px 0;
        justify-content: center;
    }

    .gallery .content .card {
        /* max-height: 115px; */
        flex-basis: 77%;
    }

    .gallery .content .card:hover {
        background-color: rgba(233, 30, 99, 0.7);
    }
}

.questions {
    padding-top: 75px;
    padding-bottom: 75px;
}

.questions .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.questions .content .section {
    flex-basis: 47%;
    border: 1px solid rgba(0, 0, 0, .125);
}

.questions .content .section .box .box1 {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 13.3px;
    transition: 0.3s;
}

.questions .content .section .box .box1:hover {
    background-color: #f3f3f3;
}

.questions .content .section .box:not(:last-child) .box1 {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.questions .content .section .box .box1 .icon {
    padding: 10px;
    border-right: 1px solid rgba(0, 0, 0, .125);
    margin-right: 10px;
    color: var(--main-color);
    opacity: 0.7;
    transition: 0.3s;

}

.questions .content .section .box .box1:hover .icon {
    opacity: 0.99;
    ;
}

.questions .content .section .box .box1 .text {
    flex: 1;
    position: relative;
    color: #212121;
}

.questions .content .section .box .box1 .text::after {
    position: absolute;
    font-family: "Font Awesome 6 Free";
    content: "\f077";
    font-weight: bold;
    z-index: 1;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    transition: 0.3s;
}

.questions .content .section .box .box1 .text.replaceIcon::after {
    content: "\f078";
}

.questions .content .section .box .box1:hover .text::after {
    color: #555;
}

.questions .content .section .box .box2 {
    display: flex;
    align-items: center;
    font-size: 13.3px;
    overflow: hidden;
    max-height: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    transition: max-height 0.59s;
    height: 100%;
}

.questions .content .section .box .box2.displayAnswer {
    max-height: 90px;
}

@media(max-width:991px) {
    .questions .content .section .box .box2.displayAnswer {
        max-height: 107px;
    }
}

.questions .content .section .box .box2 .emptyDiv {
    width: 34px;
}

.questions .content .section .box .box2 .answer {
    flex: 1;
    line-height: 1.3;
    padding: 10px;
}

@media(max-width:767px) {
    .questions .content {
        flex-direction: column;
    }

    .questions .content .section {
        border-bottom: 0;
    }

    .questions .content .section .box .box1 {
        font-size: 11px;
    }

    .questions .content .section .box .box1 .icon {
        margin-right: 5px;
    }

    .questions .content .section .box .box1 .text::after {
        right: 7px;
    }

    .questions .content .section .box .box2 .answer {
        line-height: 1.17;
        padding: 6px 3px;
        font-size: 11px;
    }

    .questions .content .section .box .box2.displayAnswer {
        max-height: 53px;
    }
}

@media(max-width:575px) {
    .questions .content .section .box .box2.displayAnswer {
        max-height: 99px;
    }
}

.sponsors {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #f3f3f3;
}

.sponsors .container {
    overflow: hidden;
}

.sponsors .container .mainContent {
    overflow: hidden;
}

.sponsors .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 39px;
}

.sponsors .content .card {
    flex-basis: 21%;
    position: relative;
    filter: grayscale(1);
    cursor: pointer;
    transition: .3s;
}

.sponsors .content .card:hover {
    filter: grayscale(0);
}

.sponsors .content .card img {
    width: 100%;
    object-fit: cover;
}

.sponsors .container .button {
    width: fit-content;
    margin: 31px auto 0;
    padding: 12px 16px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.sponsors .container .button:hover {
    background-color: #ff025a;
}

@media(max-width:767px) {
    .sponsors .content {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 35px;
    }

    .sponsors .content .card {
        flex-basis: 31%;
    }
}

.pricing {
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url("../img/background/bg-pricing.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.pricing .theTitle,
.pricing .theDescription {
    color: white;
}

.pricing .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 20px;
}

.pricing .content .box {
    flex-basis: 31.1%;
    padding: 31px 0;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.pricing .content .box.fadeInRight {
    animation: fadeInRight 1s forwards;
}

.pricing .content .box .icon {
    font-size: 31px;
    color: var(--main-color);
}

.pricing .content .box .text {
    margin: 19px 0;
    color: #5c5c5c;
}

.pricing .content .box .text span {
    font-size: 13.9px;
}

.pricing .content .box .text h3 {
    font-size: 37px;
    letter-spacing: 1.3px;
    margin: 7px 0;
}

.pricing .content .box .text p {
    margin: 0;
    font-size: 15px;
}

.pricing .content .box .options ul {
    display: flex;
    flex-direction: column;
}

.pricing .content .box .options li {
    display: block;
    color: #212121;
    max-width: 155px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.pricing .content .box .options li:not(:last-child) {
    margin-bottom: 11px;
}

.pricing .content .box .options li span {
    margin-left: -1px;
}

.pricing .content .box .options li i {
    opacity: 0.7;
}

.pricing .content .box .options li .yes {
    color: #22c55e;
}

.pricing .content .box .options li .no {
    color: #f44336;
}

.pricing .content .button {
    width: fit-content;
    margin: 31px auto 0;
    padding: 9px 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.pricing .content .button:hover {
    background-color: #ff025a;
}

@media(max-width:767px) {

    .pricing .content .box {
        flex-basis: 47%;
    }
}

@media(max-width:575px) {

    .pricing .content .box {
        flex-basis: 90%;
        padding: 25px 0;
    }
}

.quideline {
    padding-top: 75px;
    padding-bottom: 75px;
}

.quideline .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.7%;
    /* max-height: 275px; */
    height: 301px;
    overflow: hidden;
}

.quideline .content .left-section {
    flex: 1;
    height: 100%;
}

.quideline .content .left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quideline .content .right-section {
    flex: 1;
}

.quideline .content .right-section p {
    margin: 0;
    line-height: 1.555;
}

.quideline .content .right-section h3 {
    margin: 19px 0 15px 0;
}

.quideline .content .right-section ul li {
    color: #212121;
    font-size: 15.1px;
}

.quideline .content .right-section ul li:not(:last-child) {
    margin-bottom: 11px;
}

.quideline .content .right-section ul li i {
    margin-right: 5px;
}

@media(min-width:1200px) {
    .quideline .content {
        height: 271px;
    }
}

@media(max-width:991px) {
    .quideline .content {
        height: 335px;
    }
}

@media(max-width:767px) {

    .quideline .content {
        height: 100%;
        gap: 13px;
        flex-direction: column;
    }

}

@media(max-width:575px) {
    .quideline .content .right-section p {
        line-height: 1.31;
        text-align: center;
        font-size: 13.3px;
    }

    .quideline .content .right-section h3 {
        text-align: center;
    }

    .quideline .content .right-section ul li {
        font-size: 13px;
        display: block;
        color: #212121;
        max-width: 237px;
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }

}

.news {
    padding-top: 75px;
    padding-bottom: 75px;
}

.news .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 39px 31px;
}

.news .content .card {
    flex-basis: 31%;
    box-shadow: 0 0 20px rgb(0 0 0 / 19%);
    padding: 10px;
}

.news .content .card .image {
    overflow: hidden;
}

.news .content .card .image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    transition: 0.5s ease-out;
}

.news .content .card:hover .image img {
    transform: scale(1.1) rotate(5deg);
}

.news .content .card .text {
    position: relative;
    padding: 40px 10px 30px;
    text-align: center;
}

.news .content .card .text>span {
    display: block;
    position: absolute;
    left: 15px;
    top: -15px;
    width: fit-content;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    color: var(--main-color);
    box-shadow: 0px 3px 16px rgb(35 31 32 / 15%);
}

.news .content .card .text p {
    margin: 0;
    margin-bottom: 15px;
    line-height: 1.3;
    font-size: 21px;
    cursor: pointer;
    transition: 0.3s;
}

.news .content .card .text p:hover {
    color: var(--main-color);
}

.news .content .card .text .info span {
    transition: 0.3s;
    cursor: pointer;
}

.news .content .card .text .info span:hover {
    color: var(--main-color);
}

.news .container .button {
    width: fit-content;
    margin: 31px auto 0;
    padding: 12px 16px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.news .container .button:hover {
    background-color: #ff025a;
}

@media(max-width:991px) {
    .news .content {
        gap: 31px 19px;
    }

    .news .content .card {
        flex-basis: 48%;
    }
}

@media(max-width:767px) {
    .news .content .card {
        padding: 5px;
    }

    .news .content .card .text>span {
        left: 10px;
    }

    .news .content .card .text p {
        font-size: 19px;
    }

    .news .content .card .text .info {
        font-size: 13px;
    }
}

@media(max-width:575px) {
    .news .content .card {
        padding: 5px;
        flex-basis: 90%;
    }
}

.newsLetter {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #f3f3f3;
}

.newsLetter h2 {
    color: #212121;
    letter-spacing: 1.3px;
    margin: 0;
    font-weight: bold;
    font-size: 31px;
    text-align: center;
    margin-bottom: 39px;
}

.newsLetter .subscribe form {
    width: 57%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
}

.newsLetter .subscribe form input {
    display: inline-block;
    outline: none;
    border: 1px solid var(--main-color);
    margin: 0;
    padding: 18px;
    transition: 0.3s;
}

.newsLetter .subscribe form input[type="email"] {
    flex-basis: 67%;
    caret-color: var(--main-color);
}

.newsLetter .subscribe form input[type="email"]::placeholder {
    transition: 0.3s;
}

.newsLetter .subscribe form input[type="email"]:focus::placeholder {
    color: white;
}

.newsLetter .subscribe form input[type="submit"] {
    flex: 1;
    background-color: var(--main-color);
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.newsLetter .subscribe form input[type="submit"]:hover {
    background-color: #ff025a;
}

@media(max-width:575px) {
    .newsLetter .subscribe form {
        flex-direction: column;
        width: 91%;
    }

    .newsLetter .subscribe form input {
        width: 100%;
    }
}

.message {
    padding-top: 75px;
    padding-bottom: 75px;
}

.message .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message .content .container-form {
    flex-basis: 66.666%;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    padding: 33px;
    border: none;
}

.message .content form.fillInput {
    animation: fillInput 1s;
}

@keyframes fillInput {

    0%,
    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }


}

.message .content .container-form .card {
    display: inline-flex;
    flex-direction: column;
    gap: 11px;
}

.message .content .container-form .name,
.message .content .container-form .email {
    width: 47%;
}

.message .content .container-form .email {
    margin-left: 4.1%;
}

.message .content .container-form textarea,
.message .content .container-form .card input {
    display: block;
    outline: none;
    border: none;
    padding: 10px 0 10px 15px;
    font-size: 15px;
    background-color: #f3f3f3;
    caret-color: var(--main-color);
    border: 1px solid transparent;
    transition: 0.5s ease;
}

.message .content .container-form textarea:focus,
.message .content .container-form .card input:focus {
    border-color: var(--main-color);
}

.message .content .container-form textarea::placeholder,
.message .content .container-form .card input::placeholder {
    padding-left: 3px;
    transition: 0.3s;
}

.message .content .container-form textarea:focus::placeholder,
.message .content .container-form .card input:focus::placeholder {
    color: transparent;
}

.message .content .container-form .card label {
    padding-left: 10px;
    font-size: 15px;
    color: var(--main-color);
    letter-spacing: 0.3px;
}

.message .content .container-form .subject {
    width: 100%;
    margin: 31px 0;
}

.message .content .container-form textarea {
    width: 100%;
    resize: vertical;
    max-height: 135px;
    min-height: 55px;
    height: 100%;
    margin-bottom: 35px;
    transition: 0s ease;
}

.message .content .container-form .submit {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    letter-spacing: 1.1px;
    cursor: pointer;
    transition: 0.39s;
}

.message .content .container-form .submit:hover {
    background-color: #ff025a;
}

@media(max-width:767px) {

    .message .content .container-form .name,
    .message .content .container-form .email {
        width: 100%;
    }

    .message .content .container-form .email {
        margin: 0;
        margin-top: 31px;
    }
}

@media(max-width:575px) {
    .message .content .container-form {
        flex-basis: 90.777%;
        padding: 19.999px;
    }

    .message .content .container-form textarea,
    .message .content .container-form .card input {
        font-size: 13.9px;
        padding: 10px 0 10px 10px;
    }

    .message .content .container-form .card label {
        font-size: 13.3px;
    }
}

.footer {
    padding-top: 75px;
    background-color: #212121;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    /* align-items: center; */
}

.footer .content .info {
    flex-basis: 20%;
}

.footer .content .links {
    flex-basis: 17%;
}

.footer .content .posts {
    flex-basis: 30%;
}

.footer .content .div {
    flex-basis: 21.9%;
}

.footer .content .box {
    position: relative;
}

.footer .content .info img {
    width: 195px;
    object-fit: cover;
}

.footer .content .info p {
    color: white;
    line-height: 1.5;
    margin: 0;
    margin-top: 13px;
}

.footer .content .div h3,
.footer .content .links h3,
.footer .content .posts h3 {
    color: white;
    font-size: 23.7px;
    font-weight: bold;
    /* letter-spacing: 1.1px; */
    margin: 0;
    margin-bottom: 19px;
}

.footer .content .links ul li a {
    display: block;
    width: fit-content;
    color: white;
    margin-bottom: 13px;
    transition: 0.39s;
}

.footer .content .links ul li a:hover {
    padding-left: 7px;
    color: var(--main-color);
}

.footer .content .posts .card {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 19px;
}

.footer .content .posts .card .image {
    width: 77px;
    height: 57px;
}

.footer .content .posts .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer .content .posts .card .text {
    flex-grow: 1;
    color: white;
    margin-left: 13px;
}

.footer .content .posts .card .text h4 {
    margin: 0;
    margin-bottom: 11px;
    cursor: pointer;
    transition: 0.3s;
}

.footer .content .posts .card .text h4:hover {
    color: var(--main-color);
}

.footer .content .div form {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: red;
}

.footer .content .div form input {
    width: 77%;
    padding: 10px 15px;
    outline: none;
    border: 1px solid transparent;
    transition: 0.3s;
}

.footer .content .div form input:focus {
    border-color: var(--main-color);
}

.footer .content .div form button {
    width: calc(100% - 77%);
    padding: 10px 15px;
    outline: none;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.footer .content .div form button:hover {
    background-color: #ff025a;
}

.footer .content .div h4 {
    color: white;
    font-size: 19px;
    letter-spacing: 0.3px;
    margin: 31px 0 19px;
}

.footer .content .div .social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer .content .div .social li a {
    display: flex;
    width: 37px;
    height: 37px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #212121;
    cursor: pointer;
    transition: 0.3s;
}

.footer .content .div .social li:nth-child(1) a:hover {
    background-color: #1877f2;
    color: white;
}

.footer .content .div .social li:nth-child(2) a:hover {
    background-color: #3B5998;
    color: white;
}

.footer .content .div .social li:nth-child(3) a:hover {
    background-color: #25d366;
    color: white;
}

.footer .content .div .social li:nth-child(4) a:hover {
    background-color: #ea4335;
    color: white;
}

.footer .site {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 19.9px;
    word-spacing: 3px;
    letter-spacing: 1.1px;
    padding: 30px 0;
    margin-top: 39px;
}

.footer .site span {
    cursor: pointer;
    transition: 0.3s;
}

.footer .site span:hover {
    text-decoration: underline;
    color: var(--main-color);
}

@media(max-width:991px) {
    .footer .content .box {
        flex-basis: 47%;
    }

    .footer .content .div {
        order: 1;
    }

    .footer .content .links {
        order: 1;
    }
}

@media(max-width:767px) {

    .footer .content .info img {
        width: 171px;
    }

    .footer .content .posts .card .text {
        margin-left: 11px;
        font-size: 13px;
    }

    .footer .content .posts .card .image {
        width: 71px;
        height: 55px;
    }
}

@media(max-width:575px) {
    .footer .content .box {
        flex-basis: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .footer .content .links ul li a {
        width: auto;
    }

    .footer .content .links ul li a:hover {
        padding-left: 0;
    }

    .footer .content .posts .card .text {
        flex-grow: 0;
    }

    .footer .content .div form {
        width: 79%;
        margin: auto;
    }

    .footer .content .div form input {
        width: 73%;
        padding: 10px 0 10px 9px;
    }

    .footer .content .div form button {
        width: 27%;
    }

    .footer .content .div .social {
        justify-content: center;
    }

    .footer .site {
        font-size: 15px;
        letter-spacing: 0;
    }
}

.up {
    position: fixed;
    bottom: -75px;
    right: 15px;
    background-color: var(--main-color);
    color: white;
    padding: 9px 14px;
    box-shadow: 0 0 4px rgb(0 0 0 / 14%),
        0 4px 8px rgb(0 0 0 / 28%);
    cursor: pointer;
    transition: 0.39s;
}

.up.displayButton {
    bottom: 15px;
}

.up:hover {
    background-color: #ff025a;
}


.fadeInUp {
    animation: fadeInUp 1s forwards;
}

.fadeInRight {
    animation: fadeInRight 1s forwards;
}

.fadeInDown {
    animation: fadeInDown 1s forwards;
}

.fadeInLeft {
    animation: fadeInLeft 1s forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
