* {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Start Variables */
:root {
    --main-image-color: linear-gradient(to bottom, #bc883d, #f5e47b, #bc883d);
    --main-color: #bc883d;
    --back: #1b0905;
    --transition: 0.5s;
}

/* End Variables */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Component  */
.main-title {
    width: fit-content;
    color: #f8eca6;
    background-image: var(--main-image-color);
    font-size: 30px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto 30px;
    padding-bottom: 10px;
    position: relative;
}

.main-title::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 100%;
    width: 90%;
    margin-left: 13px;
    height: 2px;
    background-color: #f0e7b5
}

/* Start Header  */
.header {
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header .container > a img {
    width: 80%;
    object-fit: cover;
}
.header .container ul {
    display: flex;
}
.header .container ul > a {
   display: block;
   width: fit-content;
   border-radius: 30px;
   margin-right: 50px;
   padding: 10px 35px;
   background-image: var(--main-image-color);
   color: white;
   transition: 0.5s;
}
.header .container ul > a:hover {
    color: var(--back);
}
.header .container ul button {
    background-color: #1f0b04;
    position: relative;
    z-index: 11;
    width: 55px;
    height: 45px;
}
.header .container ul button img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}
header .container ul button {
    background-color: #1f0b04;
}

/* Start Main  */
.main {
    width: 100%;
    height: 105vh;
    background-image: url(../images/bg_main.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.main .container>a {
    display: block;
    position: absolute;
    left: 50%;
    border-radius: 7px;
    transform: translateX(-50%);
    bottom: -20px;
    font-size: 24px;
    padding: 10px 75px;
    background-color: white;
    color: black;
    transition: 0.5s;
}

.main .container>a:hover {
    border-radius: 20px;
    background-image: var(--main-image-color);
}

@media (max-width:991px) {
    .main .container>a {
        font-size: 20px;
        padding: 9px 45px;
        bottom: 5px;
    }
}

@media (max-width:767px) {
    .main .container>a {
        font-size: 11px;
        padding: 10px 40px;
        bottom: 9px;
    }
}

/* Start Game  */
.game {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: var(--back);
}

.game .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    align-content: center;
}

.game .container .content .box {
    margin-bottom: 20px;
}

.game .container .content .image {
    position: relative;
    width: 90%;
    height: 90%;
    padding: 20px;
    background-image: var(--main-image-color);

}

.game .container .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game .container .content .image a {
    display: block;
    position: absolute;
    width: fit-content;
    left: 50%;
    border-radius: 7px;
    transform: translateX(-50%);
    top: 90%;
    padding: 10px 34px;
    border: 4px solid var(--main-color);
    background-color: var(--back);
    color: white;
    /* font-weight: bold; */
    transition: 0.5s;
}

.game .container .content .image a:hover {
    background-color: var(--main-color);
    color: white;
    /* border:4px solid white; */
}

@media(max-width:767px) {
    .game .container h2 {
        font-size: 25px;
    }

    .game .container .content .image {
        margin: 0 auto;
    }

    .game .container .content .image a {
        padding: 7px 25px;
        font-size: 15px;
    }
}


/* Start Licens */
.licens {
    /* height: 100vh; */
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--back);
    position: relative;
}

.licens .container .card {
    max-width: 700px;
    margin: 0 auto 50px;
    display: flex;
    background-image: var(--main-image-color);
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    border-radius: 30px;
    position: relative;
}

.licens .container .card .image {
    width: 40%;
    height: 40%;
    flex-basis: 40%;
}

.licens .container .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.licens .container .card .info {
    flex-basis: 60%;

}

.licens .container .card h3 {
    font-size: 40px;
    font-weight: 500;
}

.licens .container .card p {
    font-size: 19px;
    line-height: 1.3;
    margin: 13px 0 20px;
    max-width: 350px;
}

.licens .container .card a {
    display: block;
    width: fit-content;
    background-color: var(--back);
    font-size: 17px;
    padding: 12px 25px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.licens .container .card a:hover {
    background-color: white;
    color: black;
}

.licens .container i:first-of-type {
    font-size: 35px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: -100px;
    top: 45%;
    background-image: var(--main-image-color);
    padding: 17px;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
}

.licens .container i:last-of-type {
    font-size: 35px;
    color: white;
    position: absolute;
    right: -100px;
    top: 45%;
    background-image: var(--main-image-color);
    padding: 17px;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
}

.licens .container i:hover {
    color: var(--back);
}

.licens .container .text {
    color: white;
    line-height: 1.7;
    font-size: 18px;
    margin: 0 20px 35px;
    text-align: center;
}

.licens .container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.licens .container ul li {
    background-color: #1f0b04;
}

.licens .container ul a {
    display: block;
    width: fit-content;
    padding: 15px 30px;
    font-size: 20px;
    background-image: var(--main-image-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: #bc883d;
    transition: var(--transition);
}

.licens .container ul a:hover {
    color: white;
}

.licens .container ul a span {
    font-size: 18px;
}

.licens .container .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.licens .container .box .image {
    width: 90%;
    height: 90%;
    padding: 15px;
    background-image: var(--main-image-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.licens .container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.licens .container .box p {
    margin-left: 25px;
    color: white;
    line-height: 1.7;
}

@media (max-width:991px) {
    .licens .container .card {
        max-width: 515px;
    }

    .licens .container ul a {
        padding: 15px;
        font-size: 18px;
    }

    .licens .container ul,
    .licens .container .box {
        flex-direction: column;
    }

    .licens .container .box .image {
        padding: 10px;
    }

    .licens .container .box p {
        margin: 0;
        margin-top: 20px;
        text-align: center;
    }
}

@media (max-width:767px) {
    .licens .container h2 {
        font-size: 23px;
    }

    .licens .container .card {
        max-width: 290px;
        flex-direction: column;
        padding: 20px 15px 0;
    }

    .licens .container .card {
        max-width: 280px;
        text-align: center;
    }

    .licens .container .card .image {
        flex-basis: 90%;
        width: 90%;
        margin-top: 35px;
        margin-bottom: -20px;
    }

    .licens .container .card h3 {
        font-size: 33px;
    }

    .licens .container .card p {
        font-size: 17px;
    }

    .licens .container .card a {
        margin: auto;
    }

    .licens .container .card i {
        display: none;
    }

    .licens .container .text {
        text-align: center;
        font-size: 17px;
        line-height: 1.5;
        margin: 0 10px 30px;
    }
}

/* Start Customer  */
.customer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--back);
    color: white;
}

.customer .container .box {
    position: relative;
}

.customer .container .box .text {
    background-color: #d7d7d4;
    color: black;
    padding: 100px;
    border-radius: 10px;
}

.customer .container .box .text p {
    line-height: 1.5;
    font-size: 20px;
}

.customer .container .box .image {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -60px);
    padding: 10px;
    background-image: var(--main-image-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer .container .box .info {
    text-align: center;
    margin: 115px 0 0;
}

.customer .container .box .info span {
    display: block;
}

.customer .container .box .info span:first-child {
    background-image: var(--main-image-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

.customer .container .box .info span:last-child {
    margin-top: 5px;
    font-size: 18px;
}

@media(max-width:991px) {
    .customer .container .box .text {
        padding: 70px;
        text-align: center;
    }
}

@media(max-width:767px) {
    .customer .container h2 {
        font-size: 20px;
    }

    .customer .container .box .text {
        padding: 20px 20px 30px;
        margin-bottom: 45px;
    }

    .customer .container .box .text p {
        font-size: 16px;
    }

    .customer .container .box .info {
        margin: 150px 0 0;
    }
}

/* Start Contact  */
.contact {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--back);
}

.contact .container form {
    width: 600px;
    margin: 50px auto 0;
    text-align: center;
}

.contact .container form input {
    width: 80%;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
    caret-color: #bc883d;
}

.contact .container form input::placeholder {
    color: white;
    padding-left: 1px;
}

.contact .container form input:last-child {
    display: block;
    outline: none;
    border: 1px solid white;
    width: fit-content;
    padding: 10px 40px;
    font-size: 22px;
    color: white;
    border-radius: 30px;
    margin: 10px auto 0;
    transition: 0.5s;
}

.contact .container form input:last-child:hover {
    background-color: white;
    color: #000;
}

@media(max-width:767px) {
    .contact .container h2 {
        font-size: 27px;
    }

    .contact .container form {
        width: 300px;
    }
}

/* Start Footer  */
.footer {
    padding-top: 100px;
    background-color: var(--back);
}

.footer .container .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .container .content .sub h3 {
    background-image: var(--main-image-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 70px;
    font-size: 25px;
}

.footer .container .content .sub form {
    display: flex;
    position: relative;
    width: 475px;
}

.footer .container .content .sub form input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.footer .container .content .sub form input:first-child {
    border-bottom: 1px solid white;
    padding-bottom: 7px;
    width: 100%;
}

.footer .container .content .sub form input:last-child {
    top: -15px;
    position: absolute;
    left: 80%;
    font-size: 15px;
    padding: 6px 26px;
    border: 1px solid white;
    border-radius: 30px;
    display: block;
    transition: 0.5s;
}

.footer .container .content .sub form input:last-child:hover {
    background-color: white;
    color: #000;
}

.footer .container .content ul h3 {
    background-image: var(--main-image-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    margin-bottom: 15px;
    font-size: 25px;
}

.footer .container .content ul li {
    padding: 5px 0 0;
}

.footer .container .content ul li a {
    color: #888;
    transition: var(--transition);
}

.footer .container .content ul li a:hover {
    color: gold;
}

.footer .container .content .info h3 {
    font-size: 25px;
    background-image: var(--main-image-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    margin-bottom: 15px;
}

.footer .container .content .info p {
    color: white;
    width: 275px;
    line-height: 1.5;

}

.footer .copyright {
    margin-top: 60px;
    text-align: center;
    background-image: var(--main-image-color);
    padding: 20px 0;
    font-size: 18px;
}

@media (max-width:991px) {
    .footer .container .content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .footer .container .content .sub {
        text-align: -webkit-center;
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .footer .container .content .sub {
        margin-bottom: 35px;
    }

    .footer .container .content .sub form {
        display: flex;
        position: relative;
        width: 275px;
        flex-direction: column;
    }

    .footer .container .content .sub form input:last-child {
        width: fit-content;
        margin: 20px auto 0;
        position: relative;
        left: 0 ;
        top: 0;
        font-size: 15px;
        padding: 6px 26px;
        border: 1px solid white;
        border-radius: 30px;
        display: block;
        transition: 0.5s;
    }
    .footer .container .content ul {
        flex-basis: 100%;
        text-align: center;
    }
    .footer .container .content .info {
        margin-top: 35px ;
        text-align: center;
    }
    .footer .copyright {
        text-align: center;
        padding: 20px 5px;
        font-size: 16px;
    }
}